In [27]:
import os
import pandas as pd
import numpy as np
import operator
import datetime as dt
import pycountry_convert as pc

In [8]:
final_path = os.path.join('..','finalData','cases.csv')
cases_f = pd.read_csv(final_path,header = 0)
cases_f.head()

,Unnamed: 0,Country,Latitude,Longitude,Day 0,Day 1,Day 2,Day 3,Day 4,Day 5,...,Day 107,Day 108,Day 109,Day 110,Day 111,Day 112,Day 113,Day 114,Day 115,Day 116
0,0,Australia,-24.776109,134.755000,0.0,0.0,0.0,0.0,0.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Belgium,50.640281,4.666714,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Cambodia,13.506639,104.869423,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Canada,61.066692,-107.991707,0.0,0.0,0.0,0.0,0.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Finland,63.246778,25.920916,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
countries_list = cases_f['Country']
countries_list = countries_list.tolist()

In [41]:
countries_list[0:5]
country_codes = []
continents_list = []
failed_countries = []

In [46]:
for country in countries_list:
    code = ""
    try:
        code = pc.country_name_to_country_alpha2(country)
        country_codes.append(code)
    except:
        failed_countries.append(country)
        
for i in country_codes:
    continent = ""
    continent = pc.country_alpha2_to_continent_code(i)
    continents_list.append(continent)

['Australia',
 'Belgium',
 'Cambodia',
 'Canada',
 'Finland',
 'France',
 'Germany',
 'Hong Kong',
 'India',
 'Italy',
 'Japan',
 'Macau',
 'China',
 'Malaysia',
 'Nepal',
 'Others',
 'Philippines',
 'Russia',
 'Singapore',
 'South Korea',
 'Spain',
 'Sri Lanka',
 'Sweden',
 'Taiwan',
 'Thailand',
 'United States of America',
 'United Kingdom',
 'United Arab Emirates',
 'Vietnam',
 'Germany',
 'Canada',
 'Singapore',
 'Hong Kong',
 'Switzerland',
 'Thailand',
 'Vietnam',
 'Taiwan',
 'United Kingdom',
 'Spain',
 'United States of America',
 'Italy',
 'Ireland',
 'France',
 'China',
 'Romania',
 'Australia',
 'Brazil',
 'Malaysia',
 'Kuwait',
 'South Africa',
 'Indonesia',
 'Philippines',
 'Sweden',
 'India',
 'Mongolia',
 'South Korea',
 'Macau',
 'New Zealand',
 'Colombia',
 'Finland',
 'Russia',
 'United States of America',
 'United Kingdom',
 'Turkey',
 'Thailand',
 'Switzerland',
 'Sweden',
 'Spain',
 'Russia',
 'Portugal',
 'Poland',
 'Philippines',
 'Peru',
 'Panama',
 'Norway',
 'New Zealand',
 'Netherlands',
 'Mexico',
 'Malaysia',
 'South Korea',
 'Japan',
 'Italy',
 'Israel',
 'Ireland',
 'India',
 'Guatemala',
 'Greece',
 'Germany',
 'France',
 'Finland',
 'El Salvador',
 'Ecuador',
 'Denmark',
 'Cuba',
 'Costa Rica',
 'Colombia',
 'China',
 'Chile',
 'Canada',
 'Brazil',
 'Belgium',
 'Austria',
 'Australia',
 'Argentina',
 'Kuwait',
 'Iceland',
 'Honduras',
 'Singapore',
 'Bahrain',
 'Uruguay',
 'Slovakia',
 'Romania',
 'Dominican Rep.',
 'Czechia',
 'Vietnam',
 'Venezuela',
 'Paraguay',
 'Jamaica',
 'Hungary',
 'Estonia',
 'Cyprus',
 'Bolivia',
 'Bahamas',
 'Nicaragua',
 'Lebanon',
 'Egypt',
 'Bulgaria',
 'Saudi Arabia',
 'Luxembourg',
 'Barbados',
 'United Arab Emirates',
 'Trinidad and Tobago',
 'Dominica',
 'Cayman Islands',
 'Ukraine',
 'Gaza Strip',
 'Morocco',
 'Yemen',
 'Jersey',
 'Isle of Man',
 'Sri Lanka',
 'Samoa',
 'Qatar',
 'Jordan',
 'U.S. Virgin Islands',
 'Bermuda',
 'Suriname',
 'South Africa',
 'Papua New Guinea',
 'Oman',
 'Netherlands Antilles',
 'Laos',
 'Martinique',
 'French Polynesia',
 'Slovenia',
 'Fiji',
 'Brunei',
 'Bangladesh',
 'Algeria',
 'Vanuatu',
 'Tunisia',
 'Montenegro',
 'Latvia',
 'Ethiopia',
 "CÃ´te d'Ivoire",
 'Cape Verde',
 'Cambodia',
 'Antigua and Barbuda',
 'Guernsey',
 'Serbia',
 'Iran',
 'Indonesia',
 'Nepal',
 'Lithuania',
 'Iraq',
 'Saint Lucia',
 'Myanmar',
 'Mauritius',
 'Kenya',
 'Uganda',
 'Palau',
 'Aruba',
 'Malta',
 'Bosnia and Herz.',
 'Puerto Rico',
 'Macedonia',
 'Syria',
 'Libya',
 'Guyana',
 'New Caledonia',
 'Guadeloupe',
 'Croatia',
 'Cook Islands']