In [31]:
import os
import pandas as pd
import numpy as np
import operator
import datetime as dt
import pycountry_convert as pc

In [3]:
final_path = os.path.join('..','finalData','cases.csv')
cases_f = pd.read_csv(final_path,header = 0)
cases_f.head()

,Unnamed: 0,Country,Latitude,Longitude,Day 0,Day 1,Day 2,Day 3,Day 4,Day 5,...,Day 107,Day 108,Day 109,Day 110,Day 111,Day 112,Day 113,Day 114,Day 115,Day 116
0,0,Australia,-24.776109,134.755000,0.0,0.0,0.0,0.0,0.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Belgium,50.640281,4.666714,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Cambodia,13.506639,104.869423,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Canada,61.066692,-107.991707,0.0,0.0,0.0,0.0,0.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Finland,63.246778,25.920916,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
countries_list = cases_f['Country']
countries_list = countries_list.tolist()

In [5]:
countries_list[0:5]
country_codes = []
continents_list = []
failed_countries = []

In [6]:
for country in countries_list:
    code = ""
    try:
        code = pc.country_name_to_country_alpha2(country)
        country_codes.append(code)
    except:
        failed_countries.append(country)
        
for i in country_codes:
    continent = ""
    continent = pc.country_alpha2_to_continent_code(i)
    continents_list.append(continent)

In [7]:
failed_countries

['Others',
 'Dominican Rep.',
 'Gaza Strip',
 'U.S. Virgin Islands',
 'Netherlands Antilles',
 'Bosnia and Herz.']

In [12]:
continents_df = pd.DataFrame(countries_list)
continents_df['continent'] = ""

In [23]:
for index, row in continents_df.iterrows():
    code = ""
    try: 
        row[1] = pc.country_alpha2_to_continent_code( pc.country_name_to_country_alpha2(row[0]))
    except:
        row[1] = ""

In [33]:
continents_df.head()

          continent
0
Australia        OC
Belgium          EU
Cambodia         AS
Canada           NA
Finland          EU

In [39]:
continents_df.set_value('Others','continent','other')

C:\Users\youss\Anaconda3v2\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """Entry point for launching an IPython kernel.

                         continent
0
Australia                       OC
Belgium                         EU
Cambodia                        AS
Canada                          NA
Finland                         EU
France                          EU
Germany                         EU
Hong Kong                       AS
India                           AS
Italy                           EU
Japan                           AS
Macau                           AS
China                           AS
Malaysia                        AS
Nepal                           AS
Others                       other
Philippines                     AS
Russia                          EU
Singapore                       AS
South Korea                     AS
Spain                           EU
Sri Lanka                       AS
Sweden                          EU
Taiwan                          AS
Thailand                        AS
United States of America        NA
United Kingdom                  EU
United Arab Emirates            AS
Vietnam                         AS
Germany                         EU
...                            ...
Ethiopia                        AF
CÃ´te d'Ivoire                   AF
Cape Verde                      AF
Cambodia                        AS
Antigua and Barbuda             NA
Guernsey                        EU
Serbia                          EU
Iran                            AS
Indonesia                       AS
Nepal                           AS
Lithuania                       EU
Iraq                            AS
Saint Lucia                     NA
Myanmar                         AS
Mauritius                       AF
Kenya                           AF
Uganda                          AF
Palau                           OC
Aruba                           NA
Malta                           EU
Bosnia and Herz.                EU
Puerto Rico                     NA
Macedonia                       EU
Syria                           AS
Libya                           AF
Guyana                          SA
New Caledonia                   OC
Guadeloupe                      NA
Croatia                         EU
Cook Islands                    OC

[193 rows x 1 columns]

                         continent
0
Australia                       OC
Belgium                         EU
Cambodia                        AS
Canada                          NA
Finland                         EU
France                          EU
Germany                         EU
Hong Kong                       AS
India                           AS
Italy                           EU
Japan                           AS
Macau                           AS
China                           AS
Malaysia                        AS
Nepal                           AS
Others                       other
Philippines                     AS
Russia                          EU
Singapore                       AS
South Korea                     AS
Spain                           EU
Sri Lanka                       AS
Sweden                          EU
Taiwan                          AS
Thailand                        AS
United States of America        NA
United Kingdom                  EU
United Arab Emirates            AS
Vietnam                         AS
Germany                         EU
...                            ...
Ethiopia                        AF
CÃ´te d'Ivoire                   AF
Cape Verde                      AF
Cambodia                        AS
Antigua and Barbuda             NA
Guernsey                        EU
Serbia                          EU
Iran                            AS
Indonesia                       AS
Nepal                           AS
Lithuania                       EU
Iraq                            AS
Saint Lucia                     NA
Myanmar                         AS
Mauritius                       AF
Kenya                           AF
Uganda                          AF
Palau                           OC
Aruba                           NA
Malta                           EU
Bosnia and Herz.                EU
Puerto Rico                     NA
Macedonia                       EU
Syria                           AS
Libya                           AF
Guyana                          SA
New Caledonia                   OC
Guadeloupe                      NA
Croatia                         EU
Cook Islands                    OC

[193 rows x 1 columns]

In [42]:
continents_path = os.path.join('..','cleanData','continents.csv')
continents_df.to_csv(continents_path)

In [55]:
continents_df = continents_df.replace('NA','North America')

In [57]:
continents_path = os.path.join('..','cleanData','continents.csv')
continents_df.to_csv(continents_path)