# 2019 Coronavirus Death Cases Time Series Data

#### Import Dependencies

In [1]:
import pandas as pd
import os
from datetime import date
from geopy.geocoders import Nominatim
nom=Nominatim()

# Import API key
#from api_keys import api_key

C:\Users\maste\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DeprecationWarning: Using Nominatim with the default "geopy/1.21.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  """

#### Set the path to your file

In [2]:
death_Cases = os.path.join("..","rawData","2019-ncov-Deaths.csv")

#### Read csv file

In [3]:
df_deathCases = pd.read_csv(death_Cases)
df_deathCases.head()

,Province/State,Country/Region,Lat,Long,1/21/20 22:00,1/22/20 12:00,1/23/20 12:00,1/24/20 0:00,1/24/20 12:00,1/25/20 0:00,...,2/9/20 23:20,2/10/20 10:30,2/10/20 19:30,2/11/20 10:50,2/11/20 20:44,2/12/20 10:20,2/12/20 22:00,2/13/20 10:00,2/13/20 21:15,2/14/20 11:23
0,Anhui,Mainland China,31.82571,117.2264,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,3.0,3.0,4.0,4.0,4.0,5.0,5.0,6,6
1,Beijing,Mainland China,40.18238,116.4142,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,2.0,2.0,3.0,3.0,3.0,3.0,3.0,3,3
2,Chongqing,Mainland China,30.05718,107.8740,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,2.0,2.0,2.0,3.0,3.0,3.0,3.0,4,5
3,Fujian,Mainland China,26.07783,117.9895,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
4,Gansu,Mainland China,36.06110,103.8343,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2,2

#### Check for number of columns and rows

In [4]:
df_deathCases.shape

(74, 49)

#### Identify columns with NaN and amount

In [5]:
df_deathCases.isnull().any()

Province/State     True
Country/Region    False
Lat               False
Long              False
1/21/20 22:00      True
1/22/20 12:00      True
1/23/20 12:00      True
1/24/20 0:00       True
1/24/20 12:00      True
1/25/20 0:00       True
1/25/20 12:00      True
1/25/20 22:00      True
1/26/20 11:00      True
1/26/20 23:00      True
1/27/20 9:00       True
1/27/20 19:00      True
1/27/20 20:30      True
1/28/20 13:00      True
1/28/20 18:00      True
1/28/20 23:00      True
1/29/20 13:30      True
1/29/20 14:30      True
1/29/20 21:00      True
1/30/20 11:00      True
1/31/20 14:00      True
2/1/20 10:00       True
2/2/20 21:00       True
2/3/20 21:00       True
2/4/20 9:40        True
2/4/20 22:00       True
2/5/20 9:00        True
2/5/20 23:00       True
2/6/20 9:00        True
2/6/20 14:20       True
2/7/20 20:13       True
2/7/20 22:50       True
2/8/20 10:24       True
2/8/20 23:04       True
2/9/20 10:30       True
2/9/20 23:20       True
2/10/20 10:30      True
2/10/20 19:30      True
2/11/20 10:50      True
2/11/20 20:44      True
2/12/20 10:20      True
2/12/20 22:00      True
2/13/20 10:00      True
2/13/20 21:15     False
2/14/20 11:23     False
dtype: bool

#### Replace NaN with 0

In [6]:
df_deathCases.fillna(0, inplace = True)
df_deathCases

,Province/State,Country/Region,Lat,Long,1/21/20 22:00,1/22/20 12:00,1/23/20 12:00,1/24/20 0:00,1/24/20 12:00,1/25/20 0:00,...,2/9/20 23:20,2/10/20 10:30,2/10/20 19:30,2/11/20 10:50,2/11/20 20:44,2/12/20 10:20,2/12/20 22:00,2/13/20 10:00,2/13/20 21:15,2/14/20 11:23
0,Anhui,Mainland China,31.82571,117.2264,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,3.0,3.0,4.0,4.0,4.0,5.0,5.0,6,6
1,Beijing,Mainland China,40.18238,116.4142,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,2.0,3.0,3.0,3.0,3.0,3.0,3,3
2,Chongqing,Mainland China,30.05718,107.8740,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,2.0,2.0,3.0,3.0,3.0,3.0,4,5
3,Fujian,Mainland China,26.07783,117.9895,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
4,Gansu,Mainland China,36.06110,103.8343,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,0,Belgium,50.50390,4.4699,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
70,"Madison, WI",US,43.07310,-89.4012,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
71,Diamond Princess cruise ship,Others,35.44370,129.6380,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
72,"San Diego County, CA",US,32.71570,-117.1611,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
73,"San Antonio, TX",US,29.42410,-98.4936,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0

#### Rename Country Column

In [7]:
df_deathCases= df_deathCases.rename(columns={"Country/Region": "Country"})
df_deathCases

,Province/State,Country,Lat,Long,1/21/20 22:00,1/22/20 12:00,1/23/20 12:00,1/24/20 0:00,1/24/20 12:00,1/25/20 0:00,...,2/9/20 23:20,2/10/20 10:30,2/10/20 19:30,2/11/20 10:50,2/11/20 20:44,2/12/20 10:20,2/12/20 22:00,2/13/20 10:00,2/13/20 21:15,2/14/20 11:23
0,Anhui,Mainland China,31.82571,117.2264,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,3.0,3.0,4.0,4.0,4.0,5.0,5.0,6,6
1,Beijing,Mainland China,40.18238,116.4142,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,2.0,3.0,3.0,3.0,3.0,3.0,3,3
2,Chongqing,Mainland China,30.05718,107.8740,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,2.0,2.0,3.0,3.0,3.0,3.0,4,5
3,Fujian,Mainland China,26.07783,117.9895,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
4,Gansu,Mainland China,36.06110,103.8343,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,0,Belgium,50.50390,4.4699,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
70,"Madison, WI",US,43.07310,-89.4012,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
71,Diamond Princess cruise ship,Others,35.44370,129.6380,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
72,"San Diego County, CA",US,32.71570,-117.1611,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
73,"San Antonio, TX",US,29.42410,-98.4936,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0

#### Select only Country, Lat, Long and Dates Columns

In [8]:
country_deathCases = df_deathCases.iloc[:,1:48]
country_deathCases

,Country,Lat,Long,1/21/20 22:00,1/22/20 12:00,1/23/20 12:00,1/24/20 0:00,1/24/20 12:00,1/25/20 0:00,1/25/20 12:00,...,2/9/20 10:30,2/9/20 23:20,2/10/20 10:30,2/10/20 19:30,2/11/20 10:50,2/11/20 20:44,2/12/20 10:20,2/12/20 22:00,2/13/20 10:00,2/13/20 21:15
0,Mainland China,31.82571,117.2264,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,3.0,3.0,3.0,4.0,4.0,4.0,5.0,5.0,6
1,Mainland China,40.18238,116.4142,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,2.0,2.0,3.0,3.0,3.0,3.0,3.0,3
2,Mainland China,30.05718,107.8740,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,2.0,2.0,2.0,3.0,3.0,3.0,3.0,4
3,Mainland China,26.07783,117.9895,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,Mainland China,36.06110,103.8343,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,Belgium,50.50390,4.4699,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
70,US,43.07310,-89.4012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
71,Others,35.44370,129.6380,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
72,US,32.71570,-117.1611,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
73,US,29.42410,-98.4936,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

#### Select only Dates

In [9]:
df_deathCas = country_deathCases.iloc[:,4:48]
df_deathCas

,1/22/20 12:00,1/23/20 12:00,1/24/20 0:00,1/24/20 12:00,1/25/20 0:00,1/25/20 12:00,1/25/20 22:00,1/26/20 11:00,1/26/20 23:00,1/27/20 9:00,...,2/9/20 10:30,2/9/20 23:20,2/10/20 10:30,2/10/20 19:30,2/11/20 10:50,2/11/20 20:44,2/12/20 10:20,2/12/20 22:00,2/13/20 10:00,2/13/20 21:15
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,3.0,3.0,3.0,4.0,4.0,4.0,5.0,5.0,6
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,2.0,2.0,3.0,3.0,3.0,3.0,3.0,3
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,2.0,2.0,2.0,3.0,3.0,3.0,3.0,4
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
70,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
71,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
72,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
73,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [10]:
df_deathCas.columns= pd.to_datetime(df_deathCas.columns).date
type(df_deathCas.columns)
df_deathCas.shape

(74, 43)

#### Assign a variable to the Country information columns

In [11]:
countryInfoColumns = pd.DataFrame(country_deathCases.iloc[:,0:3])
countryInfoColumns.shape

(74, 3)

#### Merge country infor columns with date columns

In [12]:
merged_death_cases = pd.concat([countryInfoColumns, df_deathCas], axis=1)
merged_death_cases

,Country,Lat,Long,2020-01-22,2020-01-23,2020-01-24,2020-01-24,2020-01-25,2020-01-25,2020-01-25,...,2020-02-09,2020-02-09,2020-02-10,2020-02-10,2020-02-11,2020-02-11,2020-02-12,2020-02-12,2020-02-13,2020-02-13
0,Mainland China,31.82571,117.2264,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,3.0,3.0,3.0,4.0,4.0,4.0,5.0,5.0,6
1,Mainland China,40.18238,116.4142,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,2.0,2.0,3.0,3.0,3.0,3.0,3.0,3
2,Mainland China,30.05718,107.8740,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,2.0,2.0,2.0,3.0,3.0,3.0,3.0,4
3,Mainland China,26.07783,117.9895,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,Mainland China,36.06110,103.8343,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,Belgium,50.50390,4.4699,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
70,US,43.07310,-89.4012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
71,Others,35.44370,129.6380,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
72,US,32.71570,-117.1611,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
73,US,29.42410,-98.4936,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

#### Assign a variable just by columns to group by dates

In [13]:
merged_columns = merged_death_cases.columns
merged_columns

Index([ 'Country',      'Lat',     'Long', 2020-01-22, 2020-01-23, 2020-01-24,
       2020-01-24, 2020-01-25, 2020-01-25, 2020-01-25, 2020-01-26, 2020-01-26,
       2020-01-27, 2020-01-27, 2020-01-27, 2020-01-28, 2020-01-28, 2020-01-28,
       2020-01-29, 2020-01-29, 2020-01-29, 2020-01-30, 2020-01-31, 2020-02-01,
       2020-02-02, 2020-02-03, 2020-02-04, 2020-02-04, 2020-02-05, 2020-02-05,
       2020-02-06, 2020-02-06, 2020-02-07, 2020-02-07, 2020-02-08, 2020-02-08,
       2020-02-09, 2020-02-09, 2020-02-10, 2020-02-10, 2020-02-11, 2020-02-11,
       2020-02-12, 2020-02-12, 2020-02-13, 2020-02-13],
      dtype='object')

#### Group Data by Date

In [14]:
deathCasesDate = merged_death_cases.groupby([merged_columns], axis=1).sum()
cols = deathCasesDate.columns
cols [-3:].tolist()

['Country', 'Lat', 'Long']

In [15]:
cols = cols[-3:].tolist() + cols[:-3].tolist()
cols

['Country',
 'Lat',
 'Long',
 datetime.date(2020, 1, 22),
 datetime.date(2020, 1, 23),
 datetime.date(2020, 1, 24),
 datetime.date(2020, 1, 25),
 datetime.date(2020, 1, 26),
 datetime.date(2020, 1, 27),
 datetime.date(2020, 1, 28),
 datetime.date(2020, 1, 29),
 datetime.date(2020, 1, 30),
 datetime.date(2020, 1, 31),
 datetime.date(2020, 2, 1),
 datetime.date(2020, 2, 2),
 datetime.date(2020, 2, 3),
 datetime.date(2020, 2, 4),
 datetime.date(2020, 2, 5),
 datetime.date(2020, 2, 6),
 datetime.date(2020, 2, 7),
 datetime.date(2020, 2, 8),
 datetime.date(2020, 2, 9),
 datetime.date(2020, 2, 10),
 datetime.date(2020, 2, 11),
 datetime.date(2020, 2, 12),
 datetime.date(2020, 2, 13)]

#### Re-arrange Columns

In [16]:
organized_deathCasesDate = deathCasesDate[cols]
organized_deathCasesDate.head()

,Country,Lat,Long,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,...,2020-02-04,2020-02-05,2020-02-06,2020-02-07,2020-02-08,2020-02-09,2020-02-10,2020-02-11,2020-02-12,2020-02-13
0,Mainland China,31.82571,117.2264,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,4.0,6.0,8.0,9.0,11.0
1,Mainland China,40.18238,116.4142,0.0,0.0,0.0,0.0,0.0,2.0,3.0,...,2.0,2.0,2.0,3.0,4.0,4.0,4.0,6.0,6.0,6.0
2,Mainland China,30.05718,107.8740,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,5.0,6.0,7.0
3,Mainland China,26.07783,117.9895,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Mainland China,36.06110,103.8343,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,2.0,3.0,4.0,4.0,4.0,4.0

#### Assign a variable with the list of dates

In [17]:
date_list = organized_deathCasesDate.columns[3:]

#### Set variable with the list for 1st date

In [18]:
base_date = date_list[0]
base_date

datetime.date(2020, 1, 22)

#### Iterate through the date list and to create a list with the new name of the columns

In [19]:
date = []

for d in date_list:
    day =(d-base_date).days
    date.append(f"Day {day}")
print(date)

['Day 0', 'Day 1', 'Day 2', 'Day 3', 'Day 4', 'Day 5', 'Day 6', 'Day 7', 'Day 8', 'Day 9', 'Day 10', 'Day 11', 'Day 12', 'Day 13', 'Day 14', 'Day 15', 'Day 16', 'Day 17', 'Day 18', 'Day 19', 'Day 20', 'Day 21', 'Day 22']

#### Rename Date Columns from Day 0 to Day 23

In [20]:
organized_deathCasesDate.rename(columns=dict(zip(organized_deathCasesDate.columns[3:], date)),inplace=True)
organized_deathCasesDate

,Country,Lat,Long,Day 0,Day 1,Day 2,Day 3,Day 4,Day 5,Day 6,...,Day 13,Day 14,Day 15,Day 16,Day 17,Day 18,Day 19,Day 20,Day 21,Day 22
0,Mainland China,31.82571,117.2264,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,4.0,6.0,8.0,9.0,11.0
1,Mainland China,40.18238,116.4142,0.0,0.0,0.0,0.0,0.0,2.0,3.0,...,2.0,2.0,2.0,3.0,4.0,4.0,4.0,6.0,6.0,6.0
2,Mainland China,30.05718,107.8740,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,5.0,6.0,7.0
3,Mainland China,26.07783,117.9895,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Mainland China,36.06110,103.8343,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,2.0,3.0,4.0,4.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,Belgium,50.50390,4.4699,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
70,US,43.07310,-89.4012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
71,Others,35.44370,129.6380,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
72,US,32.71570,-117.1611,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
73,US,29.42410,-98.4936,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### Select only Columns with Country and Dates

In [21]:
noCoordinatesData = organized_deathCasesDate.drop(columns=['Lat', 'Long'])
noCoordinatesData

,Country,Day 0,Day 1,Day 2,Day 3,Day 4,Day 5,Day 6,Day 7,Day 8,...,Day 13,Day 14,Day 15,Day 16,Day 17,Day 18,Day 19,Day 20,Day 21,Day 22
0,Mainland China,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,4.0,6.0,8.0,9.0,11.0
1,Mainland China,0.0,0.0,0.0,0.0,0.0,2.0,3.0,3.0,1.0,...,2.0,2.0,2.0,3.0,4.0,4.0,4.0,6.0,6.0,6.0
2,Mainland China,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,5.0,6.0,7.0
3,Mainland China,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Mainland China,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,2.0,3.0,4.0,4.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,Belgium,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
70,US,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
71,Others,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
72,US,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
73,US,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### Group Data by Country

In [22]:
countrydeathCases = noCoordinatesData.groupby(['Country']).sum().reset_index()
countrydeathCases.shape

(29, 24)

#### Select only Country Columns

In [23]:
countrydeathCases.columns

Index(['Country', 'Day 0', 'Day 1', 'Day 2', 'Day 3', 'Day 4', 'Day 5',
       'Day 6', 'Day 7', 'Day 8', 'Day 9', 'Day 10', 'Day 11', 'Day 12',
       'Day 13', 'Day 14', 'Day 15', 'Day 16', 'Day 17', 'Day 18', 'Day 19',
       'Day 20', 'Day 21', 'Day 22'],
      dtype='object')

In [24]:
countryList = countrydeathCases['Country'].tolist()

In [25]:
countries = pd.DataFrame({'Country':countryList})
countries

                 Country
0              Australia
1                Belgium
2               Cambodia
3                 Canada
4                Finland
5                 France
6                Germany
7              Hong Kong
8                  India
9                  Italy
10                 Japan
11                 Macau
12        Mainland China
13              Malaysia
14                 Nepal
15                Others
16           Philippines
17                Russia
18             Singapore
19           South Korea
20                 Spain
21             Sri Lanka
22                Sweden
23                Taiwan
24              Thailand
25                    UK
26                    US
27  United Arab Emirates
28               Vietnam

#### Generate Countries Lat and Long

In [26]:
countries["Country"]= countries["Country"].apply(nom.geocode)
countries["Latitude"]= countries["Country"].apply(lambda x: x.latitude if x != None else None)
countries["Longitude"]= countries["Country"].apply(lambda x: x.longitude if x != None else None)

#### Concanate Country, Lat, Long, and the Dates

In [27]:
data0 = pd.DataFrame({'Country':countryList})
data1 = countries.iloc[:,1:3]
data2= countrydeathCases.iloc[:,1:24]

#### Clean and Final Data

In [28]:
CoronavirusDeathCases= pd.concat([data0, data1, data2], axis=1)
CoronavirusDeathCases

,Country,Latitude,Longitude,Day 0,Day 1,Day 2,Day 3,Day 4,Day 5,Day 6,...,Day 13,Day 14,Day 15,Day 16,Day 17,Day 18,Day 19,Day 20,Day 21,Day 22
0,Australia,-24.776109,134.755000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Belgium,50.640281,4.666715,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Cambodia,13.506639,104.869423,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Canada,61.066692,-107.991707,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Finland,63.246778,25.920916,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,France,46.603354,1.888334,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,Germany,51.083420,10.423447,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,Hong Kong,22.279328,114.162813,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
8,India,22.351115,78.667743,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,Italy,42.638426,12.674297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,Japan,36.574844,139.239418,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
11,Macau,22.175760,113.551414,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,Mainland China,12.933673,77.621585,0.0,0.0,52.0,131.0,136.0,269.0,369.0,...,915.0,1055.0,1126.0,1358.0,1534.0,1720.0,1919.0,2129.0,2481.0,2855.0
13,Malaysia,4.569375,102.265682,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,Nepal,28.108393,84.091714,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,Others,14.168827,121.241537,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,Philippines,12.750349,122.731210,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
17,Russia,64.686314,97.745306,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,Singapore,1.357107,103.819499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,South Korea,36.638392,127.696119,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,Spain,39.326234,-4.838065,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,Sri Lanka,7.555494,80.713785,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,Sweden,59.674971,14.520858,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,Taiwan,23.973937,120.982018,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,Thailand,14.897192,100.832730,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,UK,54.702354,-3.276575,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,US,39.783730,-100.445882,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,United Arab Emirates,24.000249,53.999483,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,Vietnam,13.290403,108.426511,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### Export Pandas DataFrame to a CSV File

In [29]:
CoronavirusDeathCases.at[12, 'Country'] = 'China'
CoronavirusDeathCases.at[25, 'Country'] = 'United States'
CoronavirusDeathCases.at[26, 'Country'] = 'United Kingdom'
CoronavirusDeathCases['Virus'] = "Coronavirus"

In [30]:
path = os.path.join("..","cleanData","FinalCoronavirusDeathCases.csv")
CoronavirusDeathCases.to_csv(path)